workflow.json
{
  "nodes": [
    {
      "parameters": {
        "url": "{{ INTERNAL_WEBHOOK_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "{{ UNIQUE_WORKFLOW_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [208, 0],
      "id": "http_request",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_HEADER_AUTH",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "{{ AIRTABLE_BASE_ID }}",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "{{ AIRTABLE_TABLE_ID }}",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [944, -96],
      "id": "create_record",
      "name": "Create Airtable Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL",
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [416, 0],
      "id": "if_processing",
      "name": "If Processing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [784, -96],
      "id": "edit_fields",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (const item of items) {\n  bookedSum += item.json.orderPrice || 0;\n}\n\nreturn [{ json: { totalBooked, bookedSum } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 96],
      "id": "weekly_stats_false",
      "name": "Calculate Stats (False)"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "Weekly summary: {{ $json.totalBooked }} orders with total value {{ $json.bookedSum }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [832, 96],
      "id": "discord_report",
      "name": "Discord Report",
      "credentials": {
        "discordWebhookApi": {
          "id": "DISCORD_WEBHOOK",
          "name": "Discord Webhook"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "schedule_trigger",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (const item of items) {\n  bookedSum += item.json.orderPrice || 0;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, -96],
      "id": "processing_orders",
      "name": "Process Orders"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "If Processing", "type": "main", "index": 0 }]]
    },
    "If Processing": {
      "main": [
        [{ "node": "Process Orders", "type": "main", "index": 0 }],
        [{ "node": "Calculate Stats (False)", "type": "main", "index": 0 }]
      ]
    },
    "Process Orders": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Create Airtable Record", "type": "main", "index": 0 }]]
    },
    "Calculate Stats (False)": {
      "main": [[{ "node": "Discord Report", "type": "main", "index": 0 }]]
    }
  }
}
